 body{
    font-family: sans-serif;
    background-color: #0f1620;
    color: white;
}

h1{
    text-align: center;
}

.all {
    border: 1px solid silver;
    margin-bottom: 10px;
}

.lineChart {
    width: 100%;
}

.lineChartX {
    width: 75%;
    margin-right: 10px;
}

.pieChart {
    width: 25%;
}

.chartDiv{
    display: flex;
    margin-bottom: 10px;
}

.statHL{
    text-align: center;
    text-decoration: underline;
}