body {
    font-family: sans-serif;
    background-color: #0f1620;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.all {
    border: 1px solid silver;
    margin-bottom: 10px;
}

.lineChart {
    width: 100%;
}

.lineChartX {
    width: 75%;
    margin-right: 10px;
}

.pieChart {
    width: 25%;
}

.chartDiv {
    display: flex;
    margin-bottom: 10px;
}

.statHL {
    text-align: center;
    text-decoration: underline;
}

.testHL {
    text-align: center;
    font-size: 1.3em;
}

.header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #091f3f;
    height: 70px;
    padding: 5px;
    display: flex;
}

.content {
    width: 99%;
    margin-top: 80px;
    padding: 5px;
}

a {
    color:white;
}

input[type=button] {
    color: white;
    background-color: #303030;
    border: 2px solid silver;
    border-radius: 5px;
    font-weight: bold;
}

input[type=button]:hover {
    color: lightgray;
    background-color: #202020;
}

input[type=button]:active {
    border: 2px solid lightskyblue;
}

input[type=checkbox] {
    vertical-align: middle;
}

.updateButton {
    float: right;
    margin-right: 10px;
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 275px;
}

.autoUpdateDiv {
    float: right;
    margin-right: 10px;
}

.right {
    width: 30%;
}

.middle {
    width: 40%;
}

.left {
    width: 30%;
}

label {
    user-select: none;
}

.hlData {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.updateRateIn {
    width: 40px;
}

.mainHL {
    margin-top: 10px;
}